<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h1>Sign up</h1>
      </div>
      <div class="modal-body">
        <div id="errors"></div>
           <%= form_for(@user, remote: true) do |f| %>
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
        
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>
        
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>
        
              <%= f.label :password_confirmation, "Confirmation" %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
        
              <%= f.submit "Create my account", class: "btn btn-primary" %>
            <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>