<% provide(:title, @user.name) %>
<div class="row container-fluid background">
  <div class="col-md-8 col-sm-10 col-xs-12 profile-container">
    <section class="cover row">
      <div class="row bio">
        <div>
          <h4 class="center"><%= @user.name %></h4>
        </div>
        <div>
          <h4 class="center">About</h4>
          <% if @user.bio.blank? && current_user?(@user) && logged_in? %>
            <%= link_to "Add Some Info", edit_user_path(current_user) %>
          <% else %>
          <p><%= @user.bio %></p>
          <% end %>
        </div>
        <div>
          <h4 class="center">Interests</h4>
          <% if @user.interests.blank? && current_user?(@user) && logged_in? %>
            <%= link_to "Add Some Interests", edit_user_path(current_user) %>
          <% else %>
            <ul>
            <% @user.interests.each do |interest| %>
            <li><%= interest.name %></li>
            <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </section>
    <section class="user_info">
      <h4>Posts (<%= @user.posts.count %>)</h4>
      <% if current_user?(@user) %>
      <h4><%= link_to "Upload", new_post_path %></h4>
      <% end %>
    </section>
    <div class="row post-container">
      <% if @user.posts.any? %>
          <%= render @posts %>
      <% end %>
    </div>
  </div>
</div>