<div class="container-fluid home-container full-height">
    <%= image_tag("logo.png", class: "logo-img" )%>
    <%= image_tag("layer.png", class: "layer-img") %>
</div>

<div id="tasks" class="row extra-height about-container">
    <div class="col-sm-4 col-sm-offset-2 col-xs-12">
        <h2 class="heading">About</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
        natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Donec quam felis, ultricies nec, pellentesque
        eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
    </div>
    <div class="col-sm-8 col-sm-offset-2 video-container">
        <%= image_tag("video-img.png", class: "video-img" )%>
    </div>
    <div class="col-sm-4 col-sm-offset-6 col-xs-12">
        <h2 class="heading">Watch</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
        natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Donec quam felis, ultricies nec, pellentesque
        eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
    </div>
</div>

<div class="row full-height featured-container">
    <div class="col-sm-4 col-sm-offset-2 col-xs-12">
        <h2 class="heading">Featured</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
        natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Donec quam felis, ultricies nec, pellentesque
        eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
    </div>
</div>

<div class="row full-height options-container">
  <h2 class="heading">Choose Your Level of Activity and Get Started</h2>
  <div class="col-md-3 col-sm-6 col-xs-8 tile">
    <%= image_tag("adventure-wood.png", class: "tile-img" )%>
    <%= image_tag("icons/tent.png", class: "icon wood")%>
    <%= link_to posts_path(category: Category.first.name) do %>
      <div class="box-txt">
        <h3 class="animate-txt"><%= Category.first.name %></h3>
        <p class ="animate-txt">Lorem ipsum dolor sit amet,
        consectetuer adipiscing elit. </p>
      </div>
    <% end %>
  </div>
    
  <div class="col-md-3 col-sm-6 col-xs-8 tile">
    <%= image_tag("adventure-mount.png", class: "tile-img" ) %>
    <%= image_tag("icons/mountains.png", class: "icon mount")%>
    <%= link_to posts_path(category: Category.find(2).name) do %>
      <div class="box-txt">
         <h3 class="animate-txt"><%= Category.find(2).name %></h3>
         <p class ="animate-txt">Lorem ipsum dolor sit amet,
         consectetuer adipiscing elit. </p>
      </div>
    <% end %>
  </div>
  
  <div class="col-md-3 col-sm-6 col-xs-8 tile">
    <%= image_tag("adventure-river.png", class: "tile-img" )%>
    <%= image_tag("icons/canoe.png", class: "icon river")%>
    <%= link_to posts_path(category: Category.last.name) do %>
      <div class="box-txt">
        <h3 class="animate-txt"><%= Category.last.name %></h3>
        <p class ="animate-txt">Lorem ipsum dolor sit amet,
        consectetuer adipiscing elit. </p>
      </div>
    <% end %>
  </div>
</div>

<div class="row full-height footer-home">
    <div class="col-sm-4 col-sm-offset-2 col-xs-12">
        <h2 class="heading">Contact</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
        natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Donec quam felis, ultricies nec, pellentesque
        eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
    </div>

</div>



