
  <div class="img-post col-md-4 col-sm-4 col-xs-12">
    <%= link_to image_tag(post.picture.url, :class => "img_preview"), post_path(post) %>
    <div class="hidden-info">
      <span class="title"><%= link_to post.name, post_path(post) %>, <%= post.location.name %></span>
      <span class="info"><%= post.user.name %></span>
      <% if current_user?(@user) && logged_in? %>
        <span class="info"><%= link_to "Edit", edit_post_path(post) %></span>
        <span class="info"><%= link_to "Delete", post, method: :delete, data: { confirm: "You sure?" } %></span>
      <% end %>
    </div>
  </div>
                                     